{% extends 'seller/basic.html' %}

{% block indexactive %}active{% endblock indexactive %}

{% block title %}All Sellers{% endblock title %}

{% block css %}{% endblock css %}

{% block body %}

<div class="container mt-2">



<div class="box">
		<h5>Sellers:</h5>
		<hr>
		<div class="">
			<table class="table border">
				<tbody>
                    <tr>
                        <th></th>
                        <th>Seller_Id</th>
                        <th>Seller_name</th>
                        <th>Seller_email</th>
                    
                    {% for seller in sellers %}
                        <tr>
                            <td><a class="btn btn-sm btn-info" href="{% url 'seller' seller.id %}">View</a></td>
                            <td>{{seller.id}}</td>
                            <td>{{seller.seller_name}}</td>
                            <td>{{seller.seller_email}}</td>
                        </tr>
                    {% endfor %}  
                    </tr>
			    </tbody>
            </table>
		</div>

    <!-- <button id="form" class="btn btn-primary my-2 my-sm-0" onclick="btnclick()">Search</button>
    <button id="form" class="btn btn-primary my-2 my-sm-0" onclick="Btnupdate()">Update</button> -->
    <div id="list-wrapper">
    </div>
	</div>


</div>

<script>

// {% comment %} var url = 'shop/all_orders/'

// fetch(url)
// .then((resp) => resp.json())
// .then(function(data){
//     console.log('Data', data)
// }) {% endcomment %}

    

    // var wrapper = document.getElementById('list-wrapper')
    // /*  GET any data from API  -start */
    // var url = 'http://127.0.0.1:8000/shop/all_orders/6'

    
    // fetch(url)
    // .then((resp) => resp.json())
    // .then(function(data){
    //     console.log('Data',data)

    //   var list = data
    //   for (var i in list){

    //     var item = `<div id="data-row-${i}" class="task-wrapper flex-wrapper">
    //                     <div style="flex:7">
    //                         <span class="title">${list[i].order_id}</span>
    //                     </div>
    //                     <div style="flex:1">
    //                       <a class="btn btn-sm btn-info" >EDIT</a>
    //                     </div>
    //                     <div style="flex:1">
    //                       <a class="btn btn-sm btn-info" >-</a>
    //                     </div>
                    
    //                 </div>`

    //                 wrapper += item
    //   }
    // })
    
    /*  GET any data from API  -  end */
    
    //build()
    
    /*  CREATE any data from API  -  start */
    // localStorage.setItem('cart', JSON.stringify(cart));
    // localStorage.setItem('data', JSON.stringify(data));
    function btnclick(){
      
      var url_create = '/shop/all_orders_create/'
      //var title = document.getElementById('title').value
      
      fetch(url_create,
      {
      method:'POST',
      headers:{
        'Content-type':'application/json',
        'X-CSRFToken':csrftoken,
      },
      body: JSON.stringify({
                "seller":6,
                "status":"Delivered"
              })
    })

        .then(function(response){
          return response.json();
        })
        .then(function(data){
          console.log(data)
          console.log('done')
        })
    
  
  
 }


 function Btnupdate(){
      
      var url_update = '/shop/all_orders_update/281'
      //var title = document.getElementById('title').value
      
      fetch(url_update,
      {
      method:'POST',
      headers:{
        'Content-type':'application/json',
        'X-CSRFToken':csrftoken,
      },
      body: JSON.stringify({
                "seller":5,
                "status":"Delivered"
              })
    })

        .then(function(response){
          return response.json();
        })
        .then(function(data){
          console.log(data)
          console.log('done')
        })
    
  
  
 }


</script>


{% endblock body %}


{% block js %}

{% endblock js %}