{% extends 'seller/basic.html' %}

{% block title %}Shop{% endblock title %}



{% block css %}

.message-alert{
		border:1px solid #5e7356;
		background-color: #ddf0d5;
		color:#5e7356;
		padding:10px;
		border-radius: 3px;
		width: 90%;
		margin:0 auto;
		margin-top: 20px;
		text-align: center;
	}
    .card {
    width: 100%;
    height: fit-content;
    }
    .totalOrders-box, .ordersDelivered-box, .ordersPending-box{
        background: dodgerblue;
    }







@media screen and (max-width: 1205px) {

	.date-th, .date-td{
		display:none;
	}
	.products-btn{
		visibility:visible;
	}
	
	

}




@media screen and (max-width: 1000px) {




}


@media screen and (max-width: 500px) {


}



@media screen and (max-width: 390px) {


}



{% endblock css %}

{% block body %}

<div class="container-fluid">



<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<h5>Seller:</h5>
			<hr>
            
			{% comment %} <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a> {% endcomment %}
			<a class="btn btn-outline-info  btn-sm btn-block p-2" href="products"><h3>Inventory</h3></a>

		</div>
	</div>

	<div class="col-md-6">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{seller_email}}</p>
			<p>Phone: {{seller_phone}}</p>
		</div>
	</div>

	{% comment %} <div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<!-- <h1 style="text-align: center;padding: 10px" id="order_count">{{order_count}}</h1> -->
		</div>
	</div> {% endcomment %}
</div>

<br>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card totalOrders-box text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Orders</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{order_count}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card ordersDelivered-box text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Delivered</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{delivered}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="ordersPending-box card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>



<br>
<div class="row">
	<div class="col">

	<div class="accordion" id="accordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				<b>SEARCH</b>
			</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<div class="card card-body">
					{% load crispy_forms_tags %}
					<form method="get">
							{{myFilter.form| crispy}}
						<button class="btn btn-primary" type="submit">Search</button>
					</form>

				</div>
			</div>
			</div>
		</div>
	</div>
		
	</div>
	
</div>
<br>



<aside class="col-md-12 card">
	{% for order_item in order %}
			<article class="card-body border-bottom px-0">
					<div class="row">
						<div class="col-3">
							<figure class="itemside">
								<div class="aside"><img src="https://source.unsplash.com/50x50/?nature,water" class="border img-sm"></div>
								<figcaption class="info">
									<p class="name my-0"><b>Customer : </b> {{order_item.name}} </p>
									<p class="order_id my-0"><b>Order Id :  </b>{{order_item.order_id}}</p>
									<p class="mode my-0"><b>Mode :  </b>{{order_item.mode}}</p>
									<p class="amount"><b>Total Price:  </b>₹ {{order_item.amount}}</p>
									<div>
										<td><a class="btn btn-sm btn-info update-status-td" href="{% url 'updateStatus' order_item.order_id %}"><b>Update</b></a></td>
										<td><a class="btn btn-sm btn-info seller-tracker-td" href="/seller/tracker/{{order_item.order_id}}"><b>Tracker</b></a></td>
									</div>
									<p class="status my-0 btn btn-danger mt-2">Status :<b><span id="orderStatus{{order_item.order_id}}">{{order_item.status}}</span></b></p>
								</figcaption>
							</figure> 
						</div> <!-- col.// -->
						<div class="col-9 text-md-right text-right"> 
							<div class="products-list">
							<ul class="list-group " id="items_json{{order_item.order_id}}" >
								<!-- VERY IMPORTANT line to display cart items on checkout page (Also id="items" => helps in triggering <ul>....</ul> to display cart items on checkout page)  -->
								
							</ul>
						</div>
						</div>
					</div> <!-- row.// -->
			</article> <!-- card-group.// -->
		{% endfor %}	
	</aside>


<div class="row d-none">
	<div class="col-md">
		<div class="card card-body p-0">
			<table class="table table-sm" id="table">
			<div class="accordian-body">
				<div class="card card-body">
				<h3><b>ORDERS</b></h3>

			</div>
			</div>
				<tr  class="bg-info">
					<th class="bg-info customer-th" data-colname="name" data-order="desc">Customer</th>
					<th class="orderId-th" data-colname="orderId" data-order="desc">OrderId</th>
					<th class="products-th" data-colname="products" data-order="desc">Products</th>
					<th class="date-th" data-colname="dateOrdered" data-order="desc">Date Orderd</th>
					<th class="amount-th" data-colname="amount" data-order="desc">Amount</th>
					<th class="mode-th" data-colname="mode" data-order="desc">Mode</th>
					<th class="status-th" data-colname="status" data-order="desc">Status</th>
					<th class="update-status-th" data-colname="updateStatus" data-order="desc">Update Status</th>
					<th class="seller-tracker-th" data-colname="sellerTracker" data-order="desc">Tracker</th>
				</tr>
				<tbody>
                    {% for order_item in order %}
					<tr class="table-row ">
						<td class="customer-td"><b>{{order_item.name}}</b></td>
						<td class="orderId-td">{{order_item.order_id}}</td>
						<td class="products-td">
				

						</td>
						<td class="date-td">{{order_item.date_created|date:'D d M Y'}}</td>
						<td class="amount-td">₹ {{order_item.amount}}</td>
						<td class="mode-td">{{order_item.mode}}</td>
						<td class="status-td" id="orderStatus{{order_item.order_id}}">{{order_item.status}}</td> 
						{% comment %} {% if order_item.status == Delivered %}
							<script>
								
							</script>
						{% endif %} {% endcomment %}
						{% comment %} <td><a class="btn btn-sm btn-info" href="{% url 'sellerTracker' order_item.order_id %}">Tracker</a></td> {% endcomment %}
						<td><a class="btn btn-sm btn-info update-status-td" href="{% url 'updateStatus' order_item.order_id %}"><b>Update</b></a></td>
						<td><a class="btn btn-sm btn-info seller-tracker-td" href="{% url 'sellerTracker' order_item.order_id %}"><b>Tracker</b></a></td>
						<!-- {% comment %} <td><a class="btn btn-sm btn-danger" href="{% url 'update_order' order.id %}">Delete</a></td> {% endcomment %} -->
                    </tr>
						
						{% endfor %}
					</tbody>
            </table>
		</div>
	</div>
</div>












{% endblock body %}

{% block js %}
<script>
//setTimeout(function(){
// window.location.reload(1);
//}, 5000);

//var received = "{{cart|escapejs}}"
var json_seller_order_with_status = JSON.parse(`{{json_seller_order_with_status|escapejs}}`)

console.log(json_seller_order_with_status)


//console.log("INSIDE FOR LOOP JINJA")

new_json = {}
 {% for order_item in order %}
	initial_order_id = "{{order_item.order_id}}"
	initial_order_status = "{{order_item.status}}"

	//console.log("{{order_item.order_id}}")
	//console.log("{{order_item.status}}")
	for (let airtable_item in json_seller_order_with_status){
		//console.log("airtable -> order id and status -->", airtable_item,json_seller_order_with_status[airtable_item])
		//console.log("initial_order_id",initial_order_id)
		//console.log(initial_order_status)
		//console.log("airtable_item", airtable_item)
		//console.log("json_seller_order_with_status", json_seller_order_with_status[airtable_item])
		
		
		// --------------------       VERY IMPORTANT (30TH/JANUARY/2020)    AIRTABLE-DJANGO DYNAMIC CONNECTTUIN IF IDS OF ORDERS ARE MATCHED   ------------------------------------- //

		// Add the properties in if block that needs to be changed using Airtable Dynamically!
		if(initial_order_id == airtable_item){
			console.log("json_seller_order_with_status[airtable_item]",json_seller_order_with_status[airtable_item])
				// Now if we need to target any table data cell, we should add "{{order_item.order_id}}" after its id and trigger any command we want below
				//document.getElementById("orderStatus{{order_item.order_id}}").innerHTML=json_seller_order_with_status[airtable_item]
				console.log("initial_order_id", initial_order_id)
				if(json_seller_order_with_status[airtable_item]=="Delivered"){

				var url_update = `/shop/all_orders_update/${airtable_item}`
				
				fetch(url_update,
				{
				method:'POST',
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				},
				body: JSON.stringify({
							"seller":6,
							"status":"Delivered"
						})
				})

					.then(function(response){
					return response.json();
					})
					.then(function(data){
					console.log(data)
					console.log('done')
					})
				}

				// if(status_update="Delivered"){
				// 	document.getElementById("orderStatus{{order_item.order_id}}").style.color="#00ff00";
				// }
				// else {
				// 	document.getElementById("orderStatus{{order_item.order_id}}").style.color="#ff0000";
				// }
				
								// var formData = {
								// 			"order_id" : "{{order_item.order_id}}",
								// 			"seller" : "{{request.user.seller.id}}",
								// 			"status" : "Delivered",
								// 			'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val()
								// 		};
								// 		console.log("formdata : ",formData)
								// 		// Now we'll process our form

								// $.ajax({
								// 	type: 'POST',
								// 	url: '/shop/all_orders/',
								// 	data: formData,
								// 	encode: true
								// })

								// .done(function(data){
								// 		console.log("data",data)
								// });	
				
				
				
				
				
				
				
				//  $.post( "shop/update_status/{{order_item.order_id}}",
				// 			{
				// 				csrfmiddlewaretoken: '{{ csrf_token }}' ,
				// 				status : json_seller_order_with_status[airtable_item]
				// 			},
				// 			function(data) {
								
				// 			});
				//document.getElementById("table").deleteRow("{{order_item}}")
		
		// --------------------       VERY IMPORTANT (30TH/JANUARY/2020)       ------------------------------------- //
		
		
			//initial_order_status = json_seller_order_with_status
			//"{{order_item.status}}" = json_seller_order_with_status
			//console.log(airtable_item)
			//console.log("initial_order_status", initial_order_status)
			//console.log("airtable_order_status", json_seller_order_with_status[airtable_item])

				json_order_mix = {
					"{{order_item.order_id}}" : {
						"initial_order_status":initial_order_status,
						"airtable_order_status": json_seller_order_with_status[airtable_item]
						}
		
				} 

				//localStorage.setItem('json_order_mix_local_storage', JSON.stringify(json_order_mix));


				console.log(json_order_mix)
				
				//json_order_mix = new_json + json_order_mix 
				
				
 		}

	}
	



{% endfor %}


// for (let airtable_item in json_seller_order_with_status){
// 	console.log("[0][0] --> 	", airtable_item,json_seller_order_with_status[airtable_item])
// 	let initial_order_id = "{{order_item.order_id}}"
// 	//console.log("{{order_item.order_id}}")
	
// 	let airtable_order_id = airtable_item
// 	let airtable_order_status = json_seller_order_with_status[airtable_item]
// 	//console.log("airtable_order_status",airtable_order_status)
// 	let initial_order_status = "{{order_item.status}}"
// 	//console.log("{{order_item.status}}")

// 	var json_order_mix = {
// 			"{{order_item.order_id}}" : {
// 				"initial_order_status":initial_order_status,
// 				"airtable_order_status":airtable_order_status
// 					}
		
// 			}
// 	}
// 	//console.log(json_order_mix) 

//console.log(json_order_mix_local_storage)
if (localStorage.getItem('cart') == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));


  }


	var replaced_New = "{{replaced_New|escapejs}}"
    //localStorage.setItem('dumped', dumped);
	console.log(typeof replaced_New)
	//console.log("replaced2New : ",replaced_New)
	parsed_replaced_New = JSON.parse(replaced_New)
	console.log("parsed_order_items_list : ", parsed_replaced_New)
	var count = Object.keys(parsed_replaced_New).length;
	console.log("count : ", count)


	buildTable(parsed_replaced_New)

	function buildTable(data){

		console.log("inside-funtion")
        var table = document.getElementById('items_json_new')
        var table_main = document.getElementById('table')
        var jsontable = document.getElementById('jsontable')
        
		for (var item in parsed_replaced_New) {
			
			//console.log("inside-1st forloop")
			//console.log("item : ", item)
			//console.log("data[items][0]", data[item][0])
			let p = item
			
			for (var internal_items in data[item][0]){
				
				//console.log("inside-2nd forloop")
				//console.log("internal_items : ", data[item][0][internal_items][1])
				let item_name = data[item][0][internal_items][1]
				let item_quantity = data[item][0][internal_items][0]
				//console.log("internal_items : ", internal_items)
				
				// let row = `
				// 	<li class="list-group-item d-flex justify-content-between align-items-center">
				// 		${item_name}
				// 		<span class="badge badge-primary badge-pill">${item_quantity}</span>
				// 	</li>`
				let row = `
					<ul class="list-group">
						<li class=" list-group-item d-flex justify-content-between align-items-center">
						${item_name}   
						<span class="badge bg-primary rounded-pill px-2">${item_quantity}</span>
						</li>
					</ul>`


				//var row = `<tr>
				//		<td><li class="list-group-item d-flex justify-content-between align-items-center">
				//		${item_name}
				// 		<span class="badge badge-primary badge-pill">${item_quantity}</span></td> 
				//		                       
				//</tr>`
            	//jsontable.innerHTML += row
					//<td>${data[item][0][internal_items][1]}</td>                       
					// if (p!=internal_items){
					// 	break
					// }
				//console.log("item : at end of internal loop -> ", item)

				 $('#items_json'+  item ).append(row);
				
			}	

			

				// var row = table_main.insertRow(-1);
				//console.log("end of internal loop")
				var break_loop = "break"
				
				//console.log("outside end : ", item)
			}

    }    
	

	// let status = document.getElementById("orderStatus").innerHTML
	// if (status="Delivered"){
	// 	document.getElementById("orderStatus").style.backgroundColor = "#00ff00";
	// }

var totalPrice
for (item in cart) {

	let name = cart[item][1];
	let qty = cart[item][0];
	let itemPrice = cart[item][2];
	mystr = `<li class="list-group-item d-flex justify-content-between align-items-center ">
					${name}
					<span class="badge badge-primary badge-pill">${qty}</span>
				</li>`
	localStorage.setItem('totalPrice', totalPrice);
	$('.items').append(mystr);
	 }

  console.log(cart);
  
</script>

{% endblock js %}